<!-- Os campos do tipo texto, setei como number -->

<div class="panel panel-default panel-body">

	<div class="row">

		<div class="col-md-4">
			<label>Descrição</label>
			<input type="text" class="form-control" data-ng-model="vm.Produto.descricao">
		</div>

		<div class="col-md-4">
			<label>Estoque</label>
			<input type="number" class="form-control" data-ng-model="vm.Produto.estoque">
		</div>

		<div class="col-md-4">
			<label>Valor Custo</label>
			<input type="number" class="form-control" data-ng-model="vm.Produto.custo">
		</div>

		<div class="col-md-4">
			<label>Valor Venda</label>
			<input type="number" class="form-control" data-ng-model="vm.Produto.venda">
		</div>

		<div class="col-md-4">
			<label>Situação</label>
			<input type="text" class="form-control" data-ng-model="vm.Produto.situacao">
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr>
			<button type="button" class="btn btn-primary" data-ng-click="vm.Gravar()"> Gravar</button>
		</div>
	</div>


</div>



<div class="panel panel-default panel-body">
	<table class="table table-striped table-hover">
		
		<thead>
			<tr>
				<th>Descrição</th>
				<th>Estoque</th>
				<th>Valor Custo</th>
				<th>Valor Venda</th>
				<th>Situação</th>
				<th></th>
			</tr>
		</thead>	
		
		<tbody data-ng-init="vm.ListarTodos()">
			<tr data-ng-repeat="produto in vm.Produtos">
				<td><a href="#!/produto/{{produto._id}}">{{produto.descricao}}</a></td>
				<td>{{produto.estoque}}</td>
				<td>{{produto.custo}}</td>
				<td>{{produto.venda}}</td>
				<td>{{produto.situacao}}</td>
				<td data-ng-click="vm.Deletar(produto._id)"><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		</tbody>

	</table>
</div>